body{
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
}

.body{
    display: flex;
    flex-direction: row;
}

/*Menu*/

.menu{
    width: 200px;
    height: 95vh;
    position:fixed;
    top: 10px;
    left:10px;
    background-color: #00021a;
    display: flex;
    flex-direction: column;
}

.selection{
    display: flex;
    flex-direction: column;
}

.select{
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    color: white;
}

.select:hover{
    transition: 0.3s;
    margin-left: 2px;
    border-radius: 5px;
    background-color: #28285e;
}

INPUT{
    background-color: #00021a;
    padding: 10px;
    border: gray solid 2px;
    border-radius: 3px;
    margin: 4px;
    color: gray;
}

h3{
    padding: 10px;
    color: white;       
}

.exect{
    margin: 10px;
    margin-top: auto;
    padding: 10px;
    color: white;
    border-radius: 5px;
    background-color: #28285e;
    border: gray solid 2px;
}

/*Content*/
.content{
    margin-top: 2px;
    margin-left: 210px;
}

.first{
    display: flex;
    flex-direction: row;
}

.firstText{
    margin-left: 10px;
}